
    <div class="card" style="width: 18rem;">
        <img class="beerImg" src="{{this.image_url}}">
        <div class="card-body">
            <h4 class="card-title">{{this.name}}</h4>
            <p class="card-text text-muted">{{this.tagline}}</p>
            <p class="card-text">{{this.description}}</p>
        </div>
    </div>
