<div id="container-beer">
    <img class="img-beer" src="/images/beer.png" alt="">
    <a class="button-index" href="/beers">Check the Beers!</a>
    <a class="button-index" href="/random-beers">Check a Random Beer</a>
</div>